@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 0 20px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.container-search{
    max-width: 450px;
    margin: 150px auto;
}

.container-search .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
}

.circle-small {
  height: 10vh;
  width: 10vh;
  background-color: powderblue;
  color: #333;
  border-radius: 50%;
}

.circle-big {
    height: 20vh;
    width: 20vh;
    background-color: powderblue;
    color: #333;
    border-radius: 50%;
 }

:root {
    --mcard-height: 30vh;
    --mcard-width: calc(var(--mcard-height) / 1.5);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.mcard {
    background: #eeeef0;
    width: var(--mcard-width);
    height: var(--mcard-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: rgb(0, 0, 0);
}

.mcard .title {
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  top: 5%;
  opacity: 0;
  transition: opacity 2s;
}

.mcard .description {
  font-size: 1em;
  position: absolute;
  bottom: 10%;
  opacity: 0;
  transition: opacity 2s;
}

.fade {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.mcard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-color: powderblue;
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.mcard.load::before {
    background-color: rgb(255, 255, 255) 0%;
    background-image: linear-gradient(
      var(--rotate)
      , powderblue, rgb(65, 179, 194) 43%, #1d92c4);
    animation: spin 2.5s linear infinite;
}
  
  .mcard.load::after {
    position: absolute;
    content: "";
    top: calc(var(--mcard-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.7);
    filter: blur(calc(var(--mcard-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , powderblue, rgb(65, 179, 194) 43%, #1d92c4);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }