@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

:root {
  --grey-1: #121212;
  --grey-2: #1b1b1b;
  --grey-3: #2b2b2b;
  --grey-4: #3b3b3b;
  --grey-5: #4b4b4b;
  --accent-1: #BB86FC;
  --accent-2: #03DAC5;
  --accent-3: #3700B3;
  --accent-4: #c6c660;
  --success: #60C689;
  --error: #CF6679;
  --mcard-height: 25vh;
  --mcard-width: calc(var(--mcard-height) / 1.5);
}

body{
  background-color: var(--grey-1);
}

.navbar {
  background-color: var(--grey-2);
}

.navbar .navbar-brand {
  color: white;
}

.navbar .nav-link.active {
  color: var(--accent-2);
}

.navbar .nav-link {
  color: white;
}

.navbar .dropdown-menu {
  color: white;
  background-color: var(--grey-3);
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: var(--grey-5);
}

.navbar .dropdown-item.active {
  background-color: var(--accent-2);
}

::selection{
  color: var(--grey-5);
  background: var(--accent-2);
}

.container-search{
    max-width: 450px;
    margin: 150px auto;
}

.container-search .searchInput{
  background: var(--grey-5);
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input {
  background: var(--grey-5);
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input {
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  width: 100%;
  background-color: var(--grey-4);
  border-color: var(--grey-5) !important;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.searchInput .resultBox::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: var(--accent-2);
}

.searchInput .icon {
  position: absolute;
  right: 0px;
  top: 15px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
}

.price-box {
  height: 15vh;
  width: 15vh;
  background-color: var(--grey-3);
  border-style: solid;
  border-radius: 25%;
  border-width: 2px;
  border-color: var(--accent-1);
}

.spinner-border {
  color: var(--accent-2);
}

.alert.alert-warning {
  border-color: var(--grey-2);
  background-color: var(--error);
  color: white;
}

.note {
  font-size: 1vh;
  color: var(--grey-5);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.mcard {
    background: var(--grey-3);
    width: var(--mcard-width);
    height: var(--mcard-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.mcard .title {
  font-weight: bold;
  font-size: 1.6vh;
  position: absolute;
  border-bottom: 2px solid var(--grey-5);
  padding-bottom: 5px;
  top: 4%;
  width: 90%;
  opacity: 0;
  transition: opacity 2s;
}

.mcard .description {
  font-size: 1.5vh;
  position: absolute;
  padding-top: 2px;
  width: 95%;
  opacity: 0;
  transition: opacity 2s;
}

.mcard .points {
  position: absolute;
  border: 3px solid var(--grey-5);
  font-size: 1.5vh;
  border-radius: 5px;
  width: 3vh;
  bottom: 2%;
  right: 2%;
}

.mcard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-color: var(--accent-1);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.mcard.load::before {
    background-color: rgb(255, 255, 255) 0%;
    background-image: linear-gradient(
      var(--rotate)
      , var(--accent-3), var(--accent-2) 43%, var(--accent-1));
    animation: spin 2.5s linear infinite;
}
  
.mcard.load::after {
  position: absolute;
  content: "";
  top: calc(var(--mcard-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.7);
  filter: blur(calc(var(--mcard-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , var(--accent-3), var(--accent-2) 43%, var(--accent-1));
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.fade {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.button-generate {
  background-color: var(--grey-3);
  width: 20vh;
  height: 8vh;
  border: 2px solid var(--grey-4);
  border-radius: 15px;
  font-size: 1.5vh;
}

.button-generate:hover {
  border-color: var(--accent-2);
}

.reflink {
  text-decoration: none;
  color: var(--accent-2);
}

.reflink:hover {
  color: var(--accent-3);
}

.landing-tile {
  position: relative;
  width: 100%;
  height: 30vh;
  border: 2px solid var(--grey-2);
  border-radius: 25px;
  background-color: var(--grey-3);
}

.landing-tile:hover {
  border-color: var(--accent-2);
}

.landing-icon {
  position: absolute;
  bottom: 35%;
  color: var(--accent-1);
}

.landing-title {
  position: absolute;
  top: 30%;
}

.rulestext {
  background-color: var(--grey-3);
  border: 3px solid var(--grey-2);
  border-radius: 15px;
}

.impressum {
  position: relative;
  background-color: var(--grey-2);
  border: 3px solid var(--grey-1);
  border-radius: 15px;
}

.impressum .fas {
  color: var(--accent-1);
  padding-right: 15px;
}

.google-sign-in {
  text-decoration: none;
  font-size: 1.5vh;
  padding-left: 0.5vh;
  color: white;
}

.google-sign-in div {
  text-align: center;
  background-color: var(--grey-4);
  border: 3px solid var(--grey-4);
  border-radius: 15px;
  width: 10vw;
  min-width: 150px;
}

.google-sign-in div:hover {
  border-color: var(--accent-2);
}

.google-sign-in i {
  padding-right: 0.7vh;
  color: var(--accent-1);
}

.logout {
  text-align: center;
  background-color: var(--grey-4);
  border: 3px solid var(--grey-4);
  border-radius: 15px;
  width: 10vw;
  min-width: 150px;
}

.logout i {
  padding-left: 0.7vh;
}

.logout i:hover {
  color: var(--accent-2);
}

.match {
  background-color: var(--grey-2);
  border: 3px solid var(--grey-2);
  border-radius: 15px;
}

.match .playerbox {
  background-color: var(--grey-3);
  border: 3px solid var(--grey-3);
  border-radius: 15px;
  position: relative;
  height: 8vh;
  width: 12vh;
  margin-right: 2vh;
  margin-left: 2vh;
  margin-top: 2vh;
}

.match .playerbox .player {
  font-size: 1.5vh;
  position: absolute;
  top: 20%;
}

.match .playerbox .points {
  position: absolute;
  bottom: 20%;
  color: var(--accent-1);
  font-size: 1.3vh;
}

.match .mcard {
  border: 3px solid var(--grey-5);
  margin-bottom: 1vh;
}

.match .playerbox.winner {
  border-color: var(--success);
}

.match .mcard.achieved {
  border-color: var(--accent-4);  
}

.match .mcard .name {
  position: absolute;
  border: 3px solid var(--grey-5);
  border-radius: 5px;
  padding-left: 0.3vh;
  padding-right: 0.3vh;
  font-size: 1.5vh;
  bottom: 2%;
  left: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 8vh;
  height: 3vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-1);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2vh;
  width: 2vh;
  left: 0.5vh;
  bottom: 0.55vh;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(5vh);
  -ms-transform: translateX(5vh);
  transform: translateX(5vh);
}

.editor {
  background-color: var(--grey-3);
  border: 3px solid var(--grey-4);
  border-radius: 25px;
}

.editor input {
  background-color: var(--grey-4);
  border: 2px solid var(--grey-5);
  border-radius: 10px;
  font-size: 1.5vh;
}

.editor select {
  font-size: 1.5vh;
  background-color: var(--grey-4);
  border: 2px solid var(--grey-5);
  width: 70%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 10px;
}

.editor button {
  background-color: var(--grey-4);
  border: 2px solid var(--grey-5);
  border-radius: 15px;
  width: 70%;
  max-width: 500px;
}

.editor button.delete {
  border-color: var(--error);
}

.editor button:hover {
  border-color: var(--accent-2);
}

.modal-content {
  background-color: var(--grey-4);
}

.modal-title.success {
  color: var(--success);
}

.modal-title.error {
  color: var(--error);
}

.cardadder {
  background-color: var(--grey-4);
  border: 2px solid var(--grey-3);
  border-radius: 15px;
  width: var(--mcard-width);
  height: var(--mcard-height);
  min-width: 150px;
  min-height: 225px;
}

.cardadder input {
  font-size: 1.5vh;
  width: 90%;
}

.cardadder textarea {
  font-size: 1.5vh;
  background-color: var(--grey-4);
  border: 2px solid var(--grey-5);
  border-radius: 15px;
  height: 40%;
  width: 90%;
}

.player-points {
  background-color: var(--grey-3);
  border: 2px solid var(--grey-4);
  border-radius: 15px;
  max-width: 200px;
  width: 20vw;
  font-size: 1.5vh;
}

.player-points h5 {
  font-size: 1.6vh;
}

.player-points .points {
  color: var(--accent-1);
}

.scryfallcard {
  height: var(--mcard-height);
  width: var(--mcard-width);
}

.cardbutton i {
  position: absolute;
  color: var(--accent-1);
  left: 50%;
  top: 50%;
}

.cardbutton i:hover {
  color: var(--accent-2);
}

.cardpoints {
  background: var(--grey-5);
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.modal .searchInput .resultBox {
  width: 94%;
}

.cardremover i {
  color: var(--error);
  font-size: 2vh;
}

.cardremover i:hover {
  color: var(--accent-2);
}

.addCard {
  position: relative;
  min-width: var(--mcard-width);
  min-height: var(--mcard-height);
}