@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

:root {
  --grey-1: #121212;
  --grey-2: #1b1b1b;
  --grey-3: #2b2b2b;
  --grey-4: #3b3b3b;
  --grey-5: #4b4b4b;
  --accent-1: #BB86FC;
  --accent-2: #03DAC5;
  --accent-3: #3700B3;
  --error: #CF6679;
  --mcard-height: 25vh;
  --mcard-width: calc(var(--mcard-height) / 1.5);
}

body{
  background-color: var(--grey-1);
}

.navbar {
  background-color: var(--grey-2);
}

.navbar .navbar-brand {
  color: white;
}

.navbar .nav-link.active {
  color: var(--accent-2);
}

.navbar .nav-link {
  color: white;
}

.navbar .dropdown-menu {
  color: white;
  background-color: var(--grey-3);
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: var(--grey-5);
}

.navbar .dropdown-item.active {
  background-color: var(--accent-2);
}

::selection{
  color: var(--grey-5);
  background: var(--accent-2);
}

.container-search{
    max-width: 450px;
    margin: 150px auto;
}

.container-search .searchInput{
  background: var(--grey-5);
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input {
  background: var(--grey-5);
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input {
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  width: 100%;
  background-color: var(--grey-4);
  border-color: var(--grey-5) !important;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.searchInput .resultBox::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: var(--accent-2);
}

.searchInput .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
}

.price-box {
  height: 15vh;
  width: 15vh;
  background-color: var(--grey-3);
  border-style: solid;
  border-radius: 25%;
  border-width: 2px;
  border-color: var(--accent-1);
}

.spinner-border {
  color: var(--accent-2);
}

.alert.alert-warning {
  border-color: var(--grey-2);
  background-color: var(--error);
  color: white;
}

.note {
  font-size: 1vh;
  color: var(--grey-5);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.mcard {
    background: var(--grey-3);
    width: var(--mcard-width);
    height: var(--mcard-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.mcard .title {
  font-weight: bold;
  font-size: 1.6vh;
  position: absolute;
  border-bottom: 2px solid var(--grey-5);
  padding-bottom: 5px;
  top: 4%;
  width: 90%;
  opacity: 0;
  transition: opacity 2s;
}

.mcard .description {
  font-size: 1.5vh;
  position: absolute;
  padding-top: 2px;
  width: 95%;
  opacity: 0;
  transition: opacity 2s;
}

.mcard .points {
  position: absolute;
  border: 3px solid var(--grey-5);
  border-radius: 5px;
  width: 3vh;
  bottom: 2%;
  right: 2%;
}

.mcard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-color: var(--accent-1);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.mcard.load::before {
    background-color: rgb(255, 255, 255) 0%;
    background-image: linear-gradient(
      var(--rotate)
      , var(--accent-3), var(--accent-2) 43%, var(--accent-1));
    animation: spin 2.5s linear infinite;
}
  
.mcard.load::after {
  position: absolute;
  content: "";
  top: calc(var(--mcard-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.7);
  filter: blur(calc(var(--mcard-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , var(--accent-3), var(--accent-2) 43%, var(--accent-1));
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.fade {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.button-generate {
  background-color: var(--grey-3);
  width: 20vh;
  height: 8vh;
  border: 2px solid var(--grey-4);
  border-radius: 15px;
}

.button-generate:hover {
  border-color: var(--accent-2);
}

.reflink {
  text-decoration: none;
  color: var(--accent-2);
}

.reflink:hover {
  color: var(--accent-3);
}

.landing-tile {
  position: relative;
  width: 100%;
  height: 30vh;
  border: 2px solid var(--grey-2);
  border-radius: 25px;
  background-color: var(--grey-3);
}

.landing-tile:hover {
  border-color: var(--accent-2);
}

.landing-icon {
  position: absolute;
  bottom: 35%;
  color: var(--accent-1);
}

.landing-title {
  position: absolute;
  top: 30%;
}

.rulestext {
  background-color: var(--grey-3);
  border: 3px solid var(--grey-2);
  border-radius: 15px;
}

.impressum {
  position: relative;
  background-color: var(--grey-2);
  border: 3px solid var(--grey-1);
  border-radius: 15px;
}

.impressum .fas {
  color: var(--accent-1);
  padding-right: 15px;
}

.disclaimer {
  border: 2px solid var(--grey-3);
  background-color: var(--grey-3);
  border-radius: 10px;
  font-size: 1.4vh;
}

.pwform {
  border: 3px solid var(--grey-2);
  background-color: var(--grey-2);
  border-color: var(--accent-1);
  border-radius: 15px;
  height: 45vh;
}

.pwform button  {
  border: 3px solid var(--grey-5);
  border-radius: 15px;
  background-color: var(--grey-5);
  height: 5vh;
}

.pwform button:hover {
  border-color: var(--accent-2);
}

.pw {
  padding-top: 3vh;
}

.pw label {
  font-size: 2vh;
  padding-bottom: 2vh;
}

.pw input {
  background-color: var(--grey-5);
  border-radius: 5px;
  border: 2px solid (var(--grey-5));
  height: 3vh;
  width: 20vw;
  min-width: 250px;
}

.modal-content {
  text-align: center;
  background-color: var(--grey-5);
  border-color: var(--grey-5);
}

.modal-content i {
  color: var(--error);
  padding-bottom: 4vh;
}

.modal-header {
  border-bottom: 0px;
}